*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
    overflow: hidden;
}

.gameContainer{
    background-image: url(Capture-9.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.sinchan{
    background-image: url(princess.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 234px;
    height: 220px;
    position: absolute;
    bottom: 12px;
    left: 12px;
}
.obstacle{
    width: 184px;
    height: 143px;
    background-image: url(cactus-removebg-preview.png);
    background-size: cover;
    position: absolute;
    bottom: 12px;
    left: 44vw;
}
.animateSinchan{
    animation: sinchan 0.6s linear;
}
.obstacleLion{
    animation: obstacleLion 5s linear infinite;
}
.gameOver{
    visibility: hidden;
}

@keyframes sinchan{
    0%{
       bottom: 0;
    }
    50%{
       bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes obstacleLion{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }

}

